
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CountryMaster]
(
	[ID]           [int] IDENTITY(1, 1) NOT NULL,
	[Name]         [nvarchar](50) NULL,
	[CountryCode]  [varchar](5) NULL,
	CONSTRAINT [PK_CountryMaster] PRIMARY KEY CLUSTERED([ID] ASC)WITH (
	    PAD_INDEX = OFF,
	    STATISTICS_NORECOMPUTE = OFF,
	    IGNORE_DUP_KEY = OFF,
	    ALLOW_ROW_LOCKS = ON,
	    ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO

SET IDENTITY_INSERT [dbo].[CountryMaster] ON
INSERT [dbo].[CountryMaster]
  (
    [ID],
    [Name],
    [CountryCode]
  )
VALUES
  (
    1,
    N'Afghanistan',
    N'AF'
  )
INSERT [dbo].[CountryMaster]
  (
    [ID],
    [Name],
    [CountryCode]
  )
VALUES
  (
    2,
    N'Albania',
    N'AL'
  )
INSERT [dbo].[CountryMaster]
  (
    [ID],
    [Name],
    [CountryCode]
  )
VALUES
  (
    3,
    N'Algeria',
    N'DZ'
  )
GO

PRINT 'Processed 100 total records'
GO

PRINT 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[CountryMaster] OFF
