
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[StateMaster]
(
	[ID]         [int] IDENTITY(1, 1) NOT NULL,
	[Name]       [nvarchar](50) NULL,
	[CountryID]  [int] NULL,
	CONSTRAINT [PK_StateMaster] PRIMARY KEY CLUSTERED([ID] ASC)WITH (
	    PAD_INDEX = OFF,
	    STATISTICS_NORECOMPUTE = OFF,
	    IGNORE_DUP_KEY = OFF,
	    ALLOW_ROW_LOCKS = ON,
	    ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[StateMaster] ON
INSERT [dbo].[StateMaster]
  (
    [ID],
    [Name],
    [CountryID]
  )
VALUES
  (
    1,
    N'Badakhshan',
    1
  )
INSERT [dbo].[StateMaster]
  (
    [ID],
    [Name],
    [CountryID]
  )
VALUES
  (
    2,
    N'Badgis',
    1
  )
INSERT [dbo].[StateMaster]
  (
    [ID],
    [Name],
    [CountryID]
  )
VALUES
  (
    3,
    N'Baglan',
    1
  )
GO

PRINT 'Processed 100 total records'
GO

PRINT 'Processed 200 total records'
GO

PRINT 'Processed 300 total records'
GO

PRINT 'Processed 400 total records'
GO

PRINT 'Processed 500 total records'
GO

PRINT 'Processed 600 total records'
GO

PRINT 'Processed 700 total records'
GO

PRINT 'Processed 800 total records'
GO

PRINT 'Processed 900 total records'
GO

PRINT 'Processed 1000 total records'
GO

PRINT 'Processed 1100 total records'
GO

PRINT 'Processed 1200 total records'
GO

PRINT 'Processed 1300 total records'
GO

PRINT 'Processed 1400 total records'
GO

PRINT 'Processed 1500 total records'
GO

PRINT 'Processed 1600 total records'
GO

PRINT 'Processed 1700 total records'
GO

PRINT 'Processed 1800 total records'
GO

PRINT 'Processed 1900 total records'
GO

PRINT 'Processed 2000 total records'
GO

PRINT 'Processed 2100 total records'
GO

PRINT 'Processed 2200 total records'
GO

PRINT 'Processed 2300 total records'
GO

PRINT 'Processed 2400 total records'
GO

PRINT 'Processed 2500 total records'
GO

PRINT 'Processed 2600 total records'
GO

PRINT 'Processed 2700 total records'
GO

PRINT 'Processed 2800 total records'
GO

PRINT 'Processed 2900 total records'
GO

PRINT 'Processed 3000 total records'
GO

PRINT 'Processed 3100 total records'
GO

PRINT 'Processed 3200 total records'
GO

PRINT 'Processed 3300 total records'
GO

PRINT 'Processed 3400 total records'
GO

PRINT 'Processed 3500 total records'
GO

PRINT 'Processed 3600 total records'
GO

PRINT 'Processed 3700 total records'
GO

PRINT 'Processed 3800 total records'
GO

PRINT 'Processed 3900 total records'
GO

PRINT 'Processed 4000 total records'
SET IDENTITY_INSERT [dbo].[StateMaster] OFF
/****** Object:  ForeignKey [FK_StateMaster_CountryMaster]    Script Date: 11/03/2015 10:18:48 ******/
ALTER TABLE [dbo].[StateMaster]  WITH CHECK ADD  CONSTRAINT 
[FK_StateMaster_CountryMaster] FOREIGN KEY([CountryID])
REFERENCES [dbo].[CountryMaster] ([ID])
GO

ALTER TABLE [dbo].[StateMaster] CHECK CONSTRAINT [FK_StateMaster_CountryMaster]
GO
